%h2
  Edit #{resource_name.to_s.humanize}
.container-fluid
  .row
    .col-md-6
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = f.error_notification
        .form-inputs
          = f.input :city
          = f.input :sex, as: :select, collection: [['Man', true], ['Woman', false]], include_blank:false, label: 'Sex'
          = f.input :email, required: true, autofocus: true
          = f.input :layout_name, as: :select, collection: [['Standard', 'application'], ['Custom #1', 'custom']], include_blank: false
          = f.input :custom_layout, as: :text
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %p
              Currently waiting confirmation for: #{resource.unconfirmed_email}
          = f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false
          = f.input :password_confirmation, required: false
          = f.input :current_password, hint: "we need your current password to confirm your changes", required: true
        .form-actions
          = f.button :submit, class: 'btn btn-primary'
      %h3 Unhappy?
      = link_to registration_path(resource_name),class: 'btn btn-danger btn-lg', method: :delete do
        %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
        delete my account
  /Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
/= link_to "Back", :back
