.container-fixed
  .row
    .col-sm-8.col-sm-offset-2
      %h2.text-center Sign up
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.error_notification
        .form-inputs
          = f.input :email, required: true, autofocus: true
          = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable)
          = f.input :password_confirmation, required: true
        .form-actions
          = f.button :submit, "Sign up", class: 'btn btn-success'
          = link_to root_path, class: 'btn btn-default pull-right' do
            Back
