= simple_form_for(@description, html: { class: "form-vertical" }) do |f|
  = f.error_notification

  .form-inputs
  = f.input :name

  .form-actions
  = f.button :submit, {:class => 'btn btn-primary'}
  = link_to descriptions_path, class: 'btn btn-danger' do
    %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
    Discard
