.container.about
  .row
    .col-sm-8.col-sm-offset-2
      %h2.text-center Welcome to PainDiary.
      %p.text-center
        Interested?
        = link_to 'Sign up.', new_registration_path(resource_name)
      %p.text-center Not interested yet? Scroll down
      %h2
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-inputs
          = f.input :email, required: false, autofocus: true
          = f.input :password, required: false
          = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
        .row
          .col-sm-8
            .form-actions
              = f.button :submit, "Log in", class: 'btn btn-success col-xs-3 col-sm-6'
          .col-xs-8.pull-right.col-sm-4.text-right
            = render "devise/shared/links"

%br/
%br/
%br/
.container.about
  .row
    .col-sm-8.col-sm-offset-2
      %h1.text-center What makes PainDiary unique?
  %br
  .row
    .col-md-4
      %span.glyphicon.glyphicon-piggy-bank{:style => "font-size:6em;"}
      %h2 Free
      %p We will never charge you for any feature. There are no limits.
    .col-md-4
      %span.glyphicon.glyphicon-thumbs-up{:style => "font-size:6em;"}
      %h2 Trustworthy
      %p Guaranteed to be safe and private. No leaks allowed.
    .col-md-4
      %span.glyphicon.glyphicon-phone{:style => "font-size:6em;"}
      %h2 Always with you
      %p Far away from your computer? Use your phone to add an entry.
  %br/
  %br/
  .row
    .col-md-4
      %span.glyphicon.glyphicon-cog{:style => "font-size:6em;"}
      %h2 Modern
      %p Powered by Ruby on Rails, an open source web application framework.
    .col-md-4
      %span.glyphicon.glyphicon-lock{:style => "font-size:6em;"}
      %h2 Secure
      %p Follows modern security guidelines.  Your entries are private to you.
    .col-md-4
      %span.glyphicon.glyphicon-flash{:style => "font-size:6em;"}
      %h2 Rapid
      %p No flashy images, no distractions. Clean and fast.
  %br/
  %br/
  .row
    .col-md-4
      %span.glyphicon.glyphicon-king{:style => "font-size:6em;"}
      %h2 Powerful
      %p No limit on the amount of your entries.
    .col-md-4
      %span.glyphicon.glyphicon-wrench{:style => "font-size:6em;"}
      %h2 Scalable
      %p Built on the same engine as GitHub and Twitter.
    .col-md-4
      %span.glyphicon.glyphicon-education{:style => "font-size:6em;"}
      %h2 Open Source
      %p Publicly accessible source code. Investigate how it's built.
