.container-fixed
  .row
    .col-sm-6
      %h2 Welcome to PainDiary.
      %p Free. Reliable. Trustworthy.
      %br
      %p.hidden-xs (About?) PainDiary is a web-based application that allows anyone to create an accout and record levels of pain along with comments and other important factors at any time and rate.
      %p.hidden-xs You experience the same features across all modern devices or web browsers.
      %p.hidden-xs You will never be charged for using our service. We provide the most reliable pain diary application you have ever seen.
    .col-sm-6
      %h2
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-inputs
          = f.input :email, required: false, autofocus: true
          = f.input :password, required: false
          = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
        .row
          .col-sm-6
            .form-actions
              = f.button :submit, "Log in", class: 'btn btn-success col-xs-3 col-sm-6'
          .col-xs-6.pull-right.col-sm-6
            = render "devise/shared/links"
