.container-fluid
  .row
    .col-xs-12.col-md-8
      = simple_form_for(post, :html => { class: 'form-horizontal' }) do |f|
        = f.error_notification

        -#.form-inputs
          .row
            = f.label :title, class: "control-label col-sm-2"
            .col-sm-8= f.input :title, label: false, placeholder: "Your title", class: "form-control"
          .row
            = f.label :body, class: "control-label col-sm-2"
            .col-sm-8= f.input :body, label: false, placeholder: "Your body", class: "form-control"
          .row
            = f.label :time, class: "control-label col-sm-2"
            .col-sm-8= f.input :time, as: :datetime, label: false, placeholder: "Your time", class: "form-control"
          .row
            = f.label :pain_level, class: "control-label col-sm-2"
            .col-sm-8= f.input :pain_level, collection: 0..10, label: false, placeholder: "Your pain_level", class: "form-control"
          .row
            = f.label :comments, class: "control-label col-sm-2"
            .col-sm-8= f.input :comments, label: false, placeholder: "Your comments", class: "form-control"
          .row
            = f.label :meds, class: "control-label col-sm-2"
            .col-sm-8= f.input :meds, label: false, placeholder: "Your meds", class: "form-control"
          .row
            = f.label :non_drugs, class: "control-label col-sm-2"
            .col-sm-8= f.input :non_drugs, label: false, placeholder: "Your non_drugs", class: "form-control"
          .row
            = f.label :descriptions, class: "control-label col-sm-2"
            .col-sm-8= f.association :descriptions, label: false, as: :check_boxes


        .form-inputs
          = f.input :title
          = f.input :body
          = f.input :time, as: :datetime
          = f.input :pain_level, collection: 0..10
          = f.input :comments, as: :text
          = f.input :meds, as: :text
          = f.input :non_drugs, as: :text
          = f.association :descriptions, as: :check_boxes

        .form-actions
          = f.button :submit, class: 'btn btn-success'
          = link_to posts_path, class: 'btn btn-default pull-right' do
            %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
            Discard
