%script{src: "https://www.google.com/jsapi", type: "text/javascript"}
%h1 Listing posts

= '###'
= link_to 'All entries', posts_path
|
= link_to 'Last week', posts_path(period: 'week')
|
= link_to 'Last month', posts_path(period: 'month')
|
= link_to 'Last year', posts_path(period: 'year')
= '###'

%br

= line_chart Bodypart.all.map{ |b| {name: b.name, data: b.posts.range(params[:period]).group_by_day(:time).sum(:pain_level)} }

= line_chart Post.range(params[:period]).map{ |p| {name: p.bodypart.name, data: {p.time.to_date => p.pain_level}}}

%br
%br

= link_to new_post_path, class: 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil{aria: {hidden: true}}
  New post

= render partial: 'post', collection: posts
= paginate posts

