%script{src: "https://www.google.com/jsapi", type: "text/javascript"}
%h1 Listing posts

%br

= link_to new_post_path, class: 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil{aria: {hidden: true}}
  New post

%br
%br
= '###'
= link_to 'All entries', posts_path
|
= link_to 'Last week', posts_path(period: 'week')
|
= link_to 'Last month', posts_path(period: 'month')
|
= link_to 'Last year', posts_path(period: 'year')
= '###'
= link_to 'Download CSV', posts_path(format: :csv)
= '###'
= link_to 'Pivot charts (CSV needed & refresh after clicking)', charts_path

%br
= line_chart Bodypart.all.map{ |b| {name: b.name, data: b.posts.range(params[:period]).group_by_hour(:time).average(:pain_level)} }
/ line chart above, area chart below
/ = area_chart Bodypart.all.map{ |b| {name: b.name, data: b.posts.range(params[:period]).group_by_hour(:time).average(:pain_level)} }

%br
%br

= render partial: 'post', collection: posts
= paginate posts
