%h1 Listing posts

= '###'
= link_to 'All entries', posts_path
|
= link_to 'Last week', posts_path(period: 'week')
|
= link_to 'Last month', posts_path(period: 'month')
|
= link_to 'Last year', posts_path(period: 'year')
= '###'

= render partial: 'post', collection: posts

= paginate posts

%p= link_to 'New Post', new_post_path
%p= link_to 'Home', root_path
