/- Liquid::Template.parse(current_user.custom_layout).render('page_content' => yield, 'page_title' => yield(:title))
!!!
%html
  %head
    %title Paindiary
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
    = stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = include_gon
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          %a.navbar-brand{:href => root_path}
            %span.glyphicon.glyphicon-fire{"aria-hidden" => "true"}

    .container
      = render 'shared/alerts'
      = yield
