!!!
%html
  %head
    %title Paindiary
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
    - if current_user.present?
      = stylesheet_link_tag (current_user.layout_name || 'custom'), media: 'all', 'data-turbolinks-track' => true
    - else
    = stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => root_path}
            %span.glyphicon.glyphicon-fire{"aria-hidden" => "true"}
            paindiary
        / Collect the nav links, forms, and other content for toggling

    .container-fluid
      = render 'shared/alerts'
      = yield
