!!!
%html
  %head
    %title Paindiary
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => root_path}
            %span.glyphicon.glyphicon-home{"aria-hidden" => "true"}
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => root_path} home
              / %span.sr-only (current)
            %li
              %a{:href => users_path} users
            %li
              %a{:href => posts_path} posts
            %li
              %a{:href => descriptions_path} descriptions
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                my account
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:href => edit_user_registration_path} edit
                %li
                  %a{:href => destroy_user_session_path} log out
                %li.divider
                %li
                  %a.theme-link{"data-theme" => "flatly", :href => "#"} Light theme
                %li
                  %a.theme-link{"data-theme" => "darkly", :href => "#"} Dark theme
              /%a{:href => edit_user_registration_path} profile

    .container
      = render 'shared/alerts'
      = yield
